@import "tailwindcss";

:root {
  --background: #00281A;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-middle-res: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aptos) !important;
}

nav .active {
  border: 1px solid #43E1A9;
  border-radius: 11px;
  background: rgb(67 225 169 / 6%);
}

body:has(.home-page) {
  background-image: url('/images/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-position: top center;
  background-attachment: fixed;
}

body:has(.authScreens) {
  background-color: white;
}

body:has(.dashboard) {
  background-color: white;
}

.customFixed {
  position: fixed;
  top: 0;
  margin: 0 auto;
  left: 0;
}

body {
  overflow-x: hidden;
}

/* CSS Code */
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
/* Ensure swiper-container takes the full width */
.swiper-container {
  width: 100%;  /* Make the swiper container fill its parent */
  height: auto;  /* Adjust height based on content */
  overflow: hidden;
}

/* Ensure swiper-slide fills the width of the container */
.swiper-slide {
  width: 100%;  /* Make the slide fill the entire container */
  display: flex;  /* Align the content inside */
  justify-content: center;
  align-items: center;
}
/* Custom pagination bullet styling */
.swiper-pagination {
  background-color: #fff; /* Your desired dot color */
  width: 12px; /* Set the size of the dot */
  height: 12px; /* Set the size of the dot */
  border-radius: 50%; /* Makes the dot round */
}

/* Optional: Add hover effect to change dot color when hovering */
.swiper-pagination:hover {
  background-color: #fff; /* Change color on hover */
}

/* Optional: Style the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #f59e0b; /* Active dot color */
}